KB288/WebSite/App_WebReferences/cn/com/ips/newpay/WSOrderQuery.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://payat.ips.com.cn/WebService/OrderQuery" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSOrderQuery" targetNamespace="http://payat.ips.com.cn/WebService/OrderQuery" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types />
  <wsdl:message name="getOrderByTimeResponse">
    <wsdl:part name="getOrderByTimeResult" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getOrderByMerBillNo">
    <wsdl:part name="orderQuery" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getOrderByMerBillNoResponse">
    <wsdl:part name="getOrderByMerBillNoResult" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getOrderByBankNoResponse">
    <wsdl:part name="getOrderByBankNoResult" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getOrderByBankNo">
    <wsdl:part name="orderQuery" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getOrderByTime">
    <wsdl:part name="orderQuery" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="OrderQueryService">
    <wsdl:operation name="getOrderByMerBillNo">
      <wsdl:input name="getOrderByMerBillNo" message="tns:getOrderByMerBillNo" />
      <wsdl:output name="getOrderByMerBillNoResponse" message="tns:getOrderByMerBillNoResponse" />
    </wsdl:operation>
    <wsdl:operation name="getOrderByBankNo">
      <wsdl:input name="getOrderByBankNo" message="tns:getOrderByBankNo" />
      <wsdl:output name="getOrderByBankNoResponse" message="tns:getOrderByBankNoResponse" />
    </wsdl:operation>
    <wsdl:operation name="getOrderByTime">
      <wsdl:input name="getOrderByTime" message="tns:getOrderByTime" />
      <wsdl:output name="getOrderByTimeResponse" message="tns:getOrderByTimeResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSOrderQuerySoapBinding" type="tns:OrderQueryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="getOrderByMerBillNo">
      <soap:operation soapAction="http://payat.ips.com.cn/WebService/OrderQuery/getOrderByMerBillNo" style="rpc" />
      <wsdl:input name="getOrderByMerBillNo">
        <soap:body use="literal" namespace="http://payat.ips.com.cn/WebService/OrderQuery" />
      </wsdl:input>
      <wsdl:output name="getOrderByMerBillNoResponse">
        <soap:body use="literal" namespace="http://payat.ips.com.cn/WebService/OrderQuery" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrderByBankNo">
      <soap:operation soapAction="http://payat.ips.com.cn/WebService/OrderQuery/getOrderByBankNo" style="rpc" />
      <wsdl:input name="getOrderByBankNo">
        <soap:body use="literal" namespace="http://payat.ips.com.cn/WebService/OrderQuery" />
      </wsdl:input>
      <wsdl:output name="getOrderByBankNoResponse">
        <soap:body use="literal" namespace="http://payat.ips.com.cn/WebService/OrderQuery" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrderByTime">
      <soap:operation soapAction="http://payat.ips.com.cn/WebService/OrderQuery/getOrderByTime" style="rpc" />
      <wsdl:input name="getOrderByTime">
        <soap:body use="literal" namespace="http://payat.ips.com.cn/WebService/OrderQuery" />
      </wsdl:input>
      <wsdl:output name="getOrderByTimeResponse">
        <soap:body use="literal" namespace="http://payat.ips.com.cn/WebService/OrderQuery" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSOrderQuery">
    <wsdl:port name="WSOrderQuerySoap" binding="tns:WSOrderQuerySoapBinding">
      <soap:address location="http://newpay.ips.com.cn:80/psfp-entry/services/order" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>